/* CURRENTLY IN: styles/main.css */

* {
	box-sizing: border-box;
}

body {
	font-size: 16px;
	margin: 0px auto;
	font-family: "adobe-caslon-pro", "serif";
	color: #333;
}

li {
	text-decoration: none;
}

p {
	opacity: 0;
}

h3 {
	opacity: 0;
	font-style: bold;
	text-transform: uppercase;
	line-height: .4;
	font-size: 1.2rem;
	margin-top: 3rem;
	text-align: center;
	-webkit-font-smoothing: antialiased;
}

li {
	opacity: 0;
}

.overlay {  
	background:rgba(0,0,0,.6);
	text-align:center;
	padding:45px 0 66px 0;
	opacity:0;
	height: 350px;
	width: 100%;
	-webkit-transition: opacity .30s ease;
	-moz-transition: opacity .25s ease;
}

/*

header block

*/

.header {
	background-image: url("../assets/images/herobw.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	padding: 50%;
	height: 40rem;
}

.header--overlay {  
	background:rgba(0,0,0,.8);
	text-align:center;
	padding:45px 0 66px 0;
	opacity:1;
	width: 100%;
	height: 100%;;
/*	background-image: url("../assets/images/footer.svg");
	background-repeat: repeat;
	background-position: center center;
	background-size: cover;*/
	-webkit-transition: opacity .30s ease;
	-moz-transition: opacity .25s ease
}

.header__title {
	position: absolute;
	left: 0;
	width: 100%;
	text-align: center;
	opacity: .9;
	color: white;
	padding-top: 10rem;
}

.header__title--logo {
	padding-bottom: 2rem;
	opacity: .9;
}

.header__title--name {
	font-weight: 100;
	font-style: normal;
	text-transform: uppercase;
	line-height: .4;
	font-size: 1.6rem;
}

.header__title--tagline {
	-webkit-font-smoothing: antialiased;
	color: rgb(182, 160, 87);
	cursor: default;
	display: inline;
	font-size: 16px;
	font-style: italic;
	font-weight: normal;
	height: auto;
	line-height: 16px;
	text-align: right;
	width: auto;
}

/*

portfolio block

*/

.portfolio__introduction {
	background-color: #f5f5f3;
}

.portfolio__introduction--secondtitle {
	text-align: left;
}

.portfolio__introduction--body {
	color: rgb(85, 84, 84);
	cursor: default;
	display: block;
	font-size: 18px;
	font-style: normal;
	font-weight: normal;
	height: 113px;
	line-height: 28.7999992370605px;
	margin-bottom: 1rem;
}

.portfolio__introduction--img {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
/*	border: 1px solid #1e1e1d;*/
	border-radius: 50%;
/*	box-shadow: 0 0 6px 0 #181818;*/
	display: block;
	height: 200px;
	margin: 0 auto 20px auto;
	position: relative;
	width: 200px;
}


.portfolio__title {
/*	padding: 100px 0;
	margin-bottom: 3rem;
	text-align: center;
	font-size: 26px;
	line-height: 1;
	font-family: "adobe-caslon-pro", "serif";*/
}

.portfolio__example {
	padding: 20%;
	margin: 0;
	line-height: 1;
	font-family: "adobe-caslon-pro", "serif";
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-color: rgba(0, 0, 0, 0.5);
	height: 350px;

	opacity: 0;
}

.portfolio__example:hover .overlay {
	opacity:1;
}

.portfolio__example--img1 {
	background-image: url("../assets/images/dkny-placeholder-image.jpg");
}

.portfolio__example--img2 {
	background-image: url("../assets/images/born-placeholder-image.jpg");
}

.portfolio__example--img3 {
	background-image: url("../assets/images/car-placeholder-image.jpg");
}

.portfolio__example--img4 {
	background-image: url("../assets/images/watch-placeholder-image.jpg");
}

/*

footer block

*/


.footer {
	width: 100%;
	overflow: hidden;
	text-align: center;
	margin: 0;
}

.footer__contact {
	padding: 100px 0;
	margin-bottom: 1rem;
	margin-top: 3rem;
	text-align: center;
	font-size: 26px;
	line-height: 1;
	font-family: "adobe-caslon-pro", "serif";
}


.footer__social {
	background-color: #040404;
	color: white;
	margin-top: 5rem;
	background-image: url("../assets/images/footer.svg");
	background-repeat: repeat;
	background-position: center center;
	background-size: cover;
}

.footer__social--github {
	display: inline;
	text-decoration: none;
	margin-right: 5rem;
}

.footer__social--linkedin {
	display: inline;
	text-decoration: none;
	margin-right: 5rem;
}

.footer__social--twitter {
	display: inline;
	text-decoration: none;
}

