/* CURRENTLY IN: styles/main.css */

* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	min-height: 100%;
}


body {
	font-size: 16px;
	margin: 0px auto;
	font-family: "adobe-caslon-pro", "serif";
	color: #333;
}

li {
	text-decoration: none;
}

p {
	opacity: 0;
}

h3 {
	opacity: 0;
	font-style: bold;
	text-transform: uppercase;
	line-height: .4;
	font-size: 1.2rem;
	margin-top: 6rem;
	margin-bottom: 3rem;
	text-align: center;
	-webkit-font-smoothing: antialiased;
}

li {
	opacity: 0;
}

.overlay {  
	background:rgba(0,0,0,.6);
	text-align:center;
	padding:45px 0 66px 0;
	opacity:0;
	height: 350px;
	width: 100%;
	-webkit-transition: opacity .30s ease;
	-moz-transition: opacity .25s ease;
}

/*

header block

*/

.header {
	background-image: url("../assets/images/herobw.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	padding: 50%;
	height: 100%;
}

.header--overlay {  
	background:rgba(0,0,0,.8);
	text-align:center;
	padding:45px 0 66px 0;
	opacity:1;
	width: 100%;
	height: 100%;;
	-webkit-transition: opacity .30s ease;
	-moz-transition: opacity .25s ease;

	display: table;
}

/*.header__title {
	position: absolute;
	left: 0;
	width: 100%;
	text-align: center;
	opacity: .9;
	color: white;
	padding-top: 10rem;
}*/

.header__title {
	display: table-cell;
	vertical-align: middle;
}

.header__title--logo {
	padding-bottom: 2rem;
	opacity: 1;
}

.header__title--name {
	font-weight: 100;
	font-style: normal;
	text-transform: uppercase;
	line-height: .4;
	font-size: 1.6rem;
	color: #fff;
}

.header__title--tagline {
	-webkit-font-smoothing: antialiased;
	color: rgb(182, 160, 87);
	cursor: default;
	display: inline;
	font-size: 16px;
	font-style: italic;
	font-weight: normal;
	height: auto;
	line-height: 16px;
	text-align: right;
	width: auto;
}

/*

portfolio block

*/

.portfolio__introduction {
	background-color: #f5f5f3;
}

.portfolio__title {
	margin-bottom: 3rem;
}

.portfolio__introduction--body {
	color: rgb(85, 84, 84);
	cursor: default;
	display: block;
	font-size: 18px;
	font-style: normal;
	font-weight: normal;
	line-height: 28.7999992370605px;
	margin-top: .5rem;
	padding: 0 3rem;
	text-align: justify;
}

.portfolio__introduction--img {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
/*	border: 1px solid #1e1e1d;*/
	border-radius: 50%;
/*	box-shadow: 0 0 6px 0 #181818;*/
	display: block;
	height: 200px;
	margin: 0 auto 6rem auto;
	position: relative;
	width: 200px;
}

.portfolio__example {
	padding: 20%;
	line-height: 1;
	font-family: "adobe-caslon-pro", "serif";
	background-repeat: no-repeat;
/*	background-position: center center;*/
	background-size: cover;
	background-color: rgba(0, 0, 0, 0.5);
	height: 350px;

	opacity: 0;
}

.portfolio__example--title {
	padding: 0 0 0 2rem !important;
}

.portfolio__example--description {
	-webkit-font-smoothing: antialiased;
	color: rgb(182, 160, 87);
	cursor: default;
	display: inline;
	font-size: 16px;
	font-style: italic;
	font-weight: normal;
	height: auto;
	line-height: 16px;
	text-align: right;
	width: auto;
	padding: 0 0 0 2rem !important;

	opacity: 1;
}

.overlay {
	color: white;
	font-weight: 100;
	font-style: normal;
	text-transform: uppercase;
	line-height: .4;
	font-size: 3rem;
	color: #fff;
	text-align: left;
}

.portfolio__example:hover .overlay {
	opacity:1;
}

.portfolio__example--img1 {
	background-image: url("../assets/images/dkny-placeholder-image.jpg");
}

.portfolio__example--img2 {
	background-image: url("../assets/images/cocktail.jpg");
}

.portfolio__example--img3 {
	background-image: url("../assets/images/born-placeholder-image.jpg");
}

.portfolio__example--img4 {
	background-image: url("../assets/images/header-image-bike.jpeg");
}

/*

footer block

*/


.footer {
	width: 100%;
	overflow: hidden;
	text-align: center;
	margin: 0;
	background-color: #f5f5f3;
}

.footer__contact {
	padding: 100px 0;
	margin-bottom: 1rem;
	margin-top: 3rem;
	text-align: center;
	font-size: 26px;
	line-height: 1;
	font-family: "adobe-caslon-pro", "serif";
}

.footer__contact--button {
	-webkit-appearance: none;
	height: 40px;
	line-height: 40px;
	min-width: 120px;
	background-color: #000;
	text-align: center;
	border-radius: 3px;
	color: #f7f7f7;
	display: inline-block;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 11px;
	letter-spacing: 1px;
	font-weight: bold;
	border: 1px solid transparent;
	-webkit-transition: color 0.5s, box-shadow 0.2s, border-color 0.2s;
	-moz-transition: color 0.5s, box-shadow 0.2s, border-color 0.2s;
	transition: color 0.5s, box-shadow 0.2s, border-color 0.2s;
}

.footer__contact--button:hover {
	background-color: rgb(182, 160, 87);
}

.footer__social {
	background-color: #040404;
	color: white;
	margin-top: 5rem;
	background-image: url("../assets/images/footer.svg");
	background-repeat: repeat;
	background-position: center center;
	background-size: cover;
}

.footer__social--github {
	display: inline;
	text-decoration: none;
	margin-right: 5rem;
}

.footer__social--github:hover {
	opacity: .5;
}


.footer__social--linkedin {
	display: inline;
	text-decoration: none;
	margin-right: 5rem;
}

.footer__social--twitter {
	display: inline;
	text-decoration: none;
}

