/* CURRENTLY IN: styles/main.css */

* {
	box-sizing: border-box;
}

body {
	font-size: 16px;
	margin: 0px auto;
	font-family: "adobe-caslon-pro", "serif";
	color: #333;
}

li {
	text-decoration: none;
}

p {
	opacity: 0;
}

h3 {
	opacity: 0;
}

li {
	opacity: 0;
}

.overlay {  
	background:rgba(0,0,0,.6);
	text-align:center;
	padding:45px 0 66px 0;
	opacity:0;
	height: 350px;
	width: 100%;
	-webkit-transition: opacity .30s ease;
	-moz-transition: opacity .25s ease;
}

/*

header block

*/

.header {
	background-image: url("../assets/images/header-image-bike.jpeg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	padding: 50%;
	height: 35rem;
}

.header--overlay {  
	background:rgba(0,0,0,.6);
	text-align:center;
	padding:45px 0 66px 0;
	opacity:1;
	width: 100%;
	height: 100%;
	-webkit-transition: opacity .30s ease;
	-moz-transition: opacity .25s ease;
}

.header__title {
	font-size: 3rem;
	font-family: "adobe-caslon-pro", "serif";
	position: absolute;
	height: 80px;
	line-height: 80px;
	left: 0;
	width: 100%;
	text-align: center;
	opacity: 1;
	color: white;
	margin: 0 auto; 
}



/*

portfolio block

*/

.portfolio__introduction {
	font-size: 2rem;
	width: 100%;
	margin: 0 auto;
	line-height: 1.4;
	margin-bottom: 40px;
	text-align: center;
	background-color: #f5f5f3
}

.portfolio__title {
	padding: 100px 0;
	margin-bottom: 3rem;
	text-align: center;
	font-size: 26px;
	line-height: 1;
	font-family: "adobe-caslon-pro", "serif";
}

.portfolio__example {
	padding: 20%;
	margin: 0;
	line-height: 1;
	font-family: "adobe-caslon-pro", "serif";
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-color: rgba(0, 0, 0, 0.5);
	height: 350px;

	opacity: 0;
}

.portfolio__example:hover .overlay {
	opacity:1;
}

.portfolio__example--img1 {
	background-image: url("../assets/images/dkny-placeholder-image.jpg");
}

.portfolio__example--img2 {
	background-image: url("../assets/images/born-placeholder-image.jpg");
}

.portfolio__example--img3 {
	background-image: url("../assets/images/car-placeholder-image.jpg");
}

.portfolio__example--img4 {
	background-image: url("../assets/images/watch-placeholder-image.jpg");
}

/*

footer block

*/


.footer {
	width: 100%;
	overflow: hidden;
	text-align: center;
	margin: 0;
}

.footer__contact {
	padding: 100px 0;
	margin-bottom: 1rem;
	margin-top: 3rem;
	text-align: center;
	font-size: 26px;
	line-height: 1;
	font-family: "adobe-caslon-pro", "serif";
}


.footer__social {
	background-color: #040404;
	color: white;
	margin-top: 5rem;
}

.footer__social--github {
	display: inline;
	text-decoration: none;
	margin-right: 5rem;
}

.footer__social--linkedin {
	display: inline;
	text-decoration: none;
	margin-right: 5rem;
}

.footer__social--twitter {
	display: inline;
	text-decoration: none;
}

